body {
background-color: rgba(207, 15, 191, 0.247);
margin: 20px;
padding: 10%

}

header{
    background-image:url(https://wallpapers.com/images/file/aesthetic-computer-light-pink-wallpaper-ggrgtxvlagf8g7b6.jpg)
}

header{
  border: 5px solid;
  border-color: rgb(68, 38, 1);
  border-radius: 20px;
  border-bottom: 30px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

h1{
  color: rgb(95, 4, 34);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

nav a:hover{
  text-decoration: none;
   text-decoration-line: none;

}

nav a:active{
  color: rgb(7, 31, 53);
}

nav{
  background-image:url(./istockphoto-2149815990-612x612.jpg)
}

body{
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}

main{
  margin: 20px;
  padding: 20px;
  text-align:left;
  text-decoration: double;
}

p{
text-align: center;
}

header:hover{
  text-decoration-line:none;
}

h1{
  border:double;
  border-radius: 10px;
  ;
}